.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box {
  width: 30%;
  height: auto;
  padding: 20px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 72px;
  overflow: auto;
}

.box-head {
  font-size: 12px;
  color:gray;
}

.large-box {
  width: 40%;
  padding: 20px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 24px;
}
.large-box img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.num {
  margin-top: 100px;
}